<% layout("/layouts/boilerplate.ejs") -%>

<body>
    <h1 class="col-6 offset-3">Signup On Wanderlust</h1>
    <div class="mt-3">
        <div class="col-6 offset-3">
            <form action="/signup" method="post" class="needs-validation" novalidate>
                <div class="username mb-2">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" name="username" required>
                </div>
                <div class="email mb-2">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" class="form-control" name="email" required>
                </div>
                <div class="password mb-2">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <button class="btn btn-success">Signup</button>
            </form>
        <div>
    </div>   
</body>
    